{{#l-c/trivia/item classNames="question-container" show=showQuestion}}
  <div class="category"><em>{{question.category.title}}</em></div>
  <div class="question">{{question.question}}</div>
{{/l-c/trivia/item}}
{{#l-c/trivia/item classNames="answer" show=showAnswer}}
  {{{question.answer}}}
{{/l-c/trivia/item}}
